import os
import sys

os.environ['SECRET_KEY'] = 'KEEP_THE_EXISTING_LONG_RANDOM_SECRET'
os.environ['ADMIN_NAME'] = 'Engin Yasmun'
os.environ['ADMIN_EMAIL'] = 'KEEP_YOUR_EXISTING_ADMIN_EMAIL'
os.environ['ADMIN_PASSWORD'] = 'KEEP_YOUR_EXISTING_ADMIN_PASSWORD'
os.environ['PROJECT_GROUP_DATABASE'] = '/home/enginproject/project-group-data/project_group.db'
os.environ['PROJECT_GROUP_UPLOADS'] = '/home/enginproject/project-group-data/uploads'
os.environ['COOKIE_SECURE'] = '1'

path = '/home/enginproject/SalesforceProjectGroup'
if path not in sys.path:
    sys.path.insert(0, path)

from app import app as application
