import os
import sys

os.environ["SECRET_KEY"] = "PASTE_A_LONG_RANDOM_SECRET"
os.environ["ADMIN_NAME"] = "Engin Yasmun"
os.environ["ADMIN_EMAIL"] = "YOUR_ADMIN_EMAIL"
os.environ["ADMIN_PASSWORD"] = "YOUR_TEMPORARY_ADMIN_PASSWORD"
os.environ["PROJECT_GROUP_DATABASE"] = "/home/enginproject/project-group-data/project_group.db"
os.environ["PROJECT_GROUP_UPLOADS"] = "/home/enginproject/project-group-data/uploads"
os.environ["COOKIE_SECURE"] = "1"

project_path = "/home/enginproject/SalesforceProjectGroup"
if project_path not in sys.path:
    sys.path.insert(0, project_path)

from app import app as application
